.footer{
    overflow: hidden;
    padding: 56px 0 74px;
    color: rgba(15, 31, 28, 0.5);
    position: relative;
    font-family: Poppins;

    a{
        color: inherit;
    }

}

.logo__footer{
    a{
        color: #FF7B4E;
    }
}

.footer_btn{
    a{
        color: #fff;
    }
}