@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0F1F1C;
}

.none{
    display: none !important;
}

.block{
    height: 200px;
    background-color: grey;
}

.container{
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.container-right{
    padding-left: calc(max(var(--container-padding), (100% - var(--container-width))/ 2 + var(--container-padding)));
    
    @include mediaTablet($displayWidth1){
        padding: 0 var(--container-padding);
    }
}